/* Styles généraux */
body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    /* Couleur de fond de la page */
}

/* Styles de l'en-tête */
header {
    background-color: #75686A;
    /* Couleur de fond de l'en-tête */
    color: #FFF;
    /* Couleur du texte de l'en-tête */
    padding: 0px;
    text-align: center;
}

/* Styles par défaut de la barre de navigation */
nav {
    display: flex; /* inlign = span, block = flottant, flex = positionner p/r à son voisin -> responsive */
    align-items: center;
    /* Centrer verticalement le contenu */
    justify-content: center; /* seulement le contenu */
    /* Centrer horizontalement le contenu */
    background-color: #14330F;
    padding: 20px 0;
    /* Ajouter du padding en haut et en bas */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.5s ease;
    /* Ajoutez une transition sur la couleur de fond */
}

nav img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    /* Aligner le centre de l'image avec le centre des autres éléments */
    margin-right: 10px;
    /* Ajoutez une marge à droite de l'image */
}

/* Styles alternatifs de la barre de navigation lorsque l'utilisateur a fait défiler la page */
nav.scrolled {
    max-height: 50px;
    /* Nouvelle couleur de fond */
    opacity: 0.9;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Ajout d'une ombre */
    /* Ajoutez d'autres styles que vous souhaitez appliquer lorsque l'utilisateur a fait défiler la page */
}

nav.scrolled:hover {
    background-color: #14330F;
    /* Nouvelle couleur de fond */
    opacity: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 50px;
}

nav ul li a {
    color: #FFF;
    /* Couleur du texte des liens de navigation */
    text-decoration: none;
    transition: all 0.5s ease-out;
}

nav a:hover {
    text-decoration: underline;
}

/* Styles du pied de page */
footer {
    background-color: #14330F;
    /* Couleur de fond du pied de page */
    color: #FFF;
    /* Couleur du texte du pied de page */
    padding: 10px;
    text-align: center;
}

/* Styles de l'image d'accueil */
.hero {
    height: 100vh;
    /* Hauteur de l'écran */
    background-image: url('../images/lorem-ipsum2.png');
    /* Chemin vers l'image d'accueil */
    background-size: cover;
    background-position: center;
    position: relative;
	display: flex;
	align-items: center; /* entre tous les éléments enfants */
	justify-content: center;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
    background-color: #14330F;
    padding-left: 1%;
    padding-right: 1%;
}

.hero-content h2 {
    font-size: 2.5rem;
}

.field {
    position: absolute;
    bottom: 100px; /* ou une valeur de votre choix */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.scroll {
    width: 60px;
    height: 60px;
    border: 3px solid #14330F;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;

    &::before {
        content: '';
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 3px solid #14330F;
        border-bottom: 3px solid #14330F;
        transform: rotate(-45deg);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

h2 {
    text-align: center;
    /* Centrer le titre */
}

/* Styles de la liste de produits */
.products {
    text-align: center;
    /* Centrer le contenu de la section */
}

.products-section-title {
    background-color: #14330F;
    /* Nouvelle couleur de fond */
    color: #FFF;
    padding: 1%;
}

.product {
    display: inline-block;
    /* Afficher les produits en ligne */
    margin: 20px 10px 20px;
    /* Ajouter un espacement horizontal de 10px et un espacement vertical de 20px entre les produits */
    position: relative;
    overflow: hidden;
    /* Masquer les parties d'image dépassant du conteneur */
    min-width: 200px;
    /* Définir une largeur minimale pour les images */
    background-color: #14330F;
    color: #FFF;
}

.product-image {
    position: relative;
    width: 100%;
    /* Largeur du conteneur de l'image */
    height: 0;
    /* Hauteur initiale à 0 */
    padding-top: calc(3/2 * 100%);
    /* Calcul de la hauteur pour conserver le ratio 2/3 */
}

.product-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Remplir tout le conteneur */
    object-fit: cover;
    /* Ajuster l'image sans déformation */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Couleur de fond semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    /* Masquer le bouton d'achat par défaut */
    transition: opacity 0.3s ease;
}

.overlay a,button {
    background-color: #14330F;
    /* Couleur de fond du bouton */
    color: #FFF;
    /* Couleur du texte du bouton */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    font-family: relative
}

.product:hover .overlay {
    opacity: 1;
    /* Afficher le bouton d'achat au survol */
}

.product-details {
    margin-top: 10px;
    /* Ajouter un espacement entre l'image et les détails du produit */
}