// Import des variables globales si nécessaire
@import 'variables';

// Styles du bouton
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    // Utilisation des variables pour les couleurs
    background-color: $primary-color;
    color: $background-color-2;

    // Style au survol
    &:hover {
        background-color: darken($primary-color, 10%);
    }

    // Style au clic
    &:active {
        background-color: darken($primary-color, 20%);
    }

    // Style lorsque le bouton est désactivé
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}