$color-light-green: #6A8966;
$color-dark-green: #14330F;

nav {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-light-green;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 1;
    transition: background-color 2s ease;
  }

  img {
    width: 30px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
  }

  &.scrolled {
    max-height: 50px;
    background-color: $color-dark-green;
    opacity: 0.9;
    position: fixed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: $color-dark-green;
      opacity: 1;
    }
  }

}